<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ConnectToolSampleActivity"
            android:exported="true"
            android:label="ConnectToolSampleActivity"
            android:theme="@style/Theme.ConnectSample" >
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="r17dame" android:host="connectlink" />
        </intent-filter>
        </activity>
        <activity
            android:name=".CallBackActivity"
            android:exported="false"
            android:label="CallBackActivity"
            android:theme="@style/Theme.ConnectSample" />

    </application>

</manifest>